@model List<MLS.Domain.Entities.TodoItem>

@{
    ViewData["Title"] = "Index";
}

<div id="PlaceHolderHere"></div>
<button type="button" class="btn btn-primary"
        data-toggle="ajax-modal" data-target="#updateItem"
        data-url="@Url.Action($"Add")">
    Update
</button>

@if (Model != null && Model.Count > 0)
{
    <table class="table table-bordered table-striped">
        <tr>
            <th>__</th>
            <th>Title</th>
            <th>List Name</th>
            <th>Creation Date</th>
            <th>Note</th>
            <th>Details</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>@item.ListName</td>
                <td>@item.CreationDate</td>
                <td>@item.Note</td>
                <td>
                    <button type="button" class="btn btn-primary"
                    data-toggle="ajax-modal" data-target="#updateItem"
                    data-url="@Url.Action($"Update/{item.Id}")">
                        Update
                    </button>
                </td>
            </tr>
        }

    </table>
}