@using MLS.Domain.Entities
@model List<TodoItem>

@{
    ViewData["Title"] = "Index";
}

@if (Model != null && Model.Count > 0)
{
    <table class="table table-bordered table-striped">
        <tr>
            <th>__</th>
            <th>Title</th>
            <th>Creation Date</th>
            <th>Note</th>
            <th>Details</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>@item.CreationDate</td>
                <td>@item.Note</td>
                <td>
                    <a asp-controller="TodoItem" asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-controller="TodoItem" asp-action="Update" asp-route-id="@item.Id">Edit</a>

                </td>
            </tr>
        }

    </table>
}
