@model List<MLS.Domain.Entities.TodoList>

@{
    ViewData["Title"] = "Create List";
}

    <div>
    <a asp-controller="TodoList" asp-action="Create" class="btn btn-primary">
        Add List <i class="fa fa-plus"></i>
    </a>
    </div>

@if (Model != null && Model.Count > 0)
{
    <table class="table table-bordered table-striped">
        <tr>
            <th>__</th>
            <th>Image</th>
            <th>Title</th>
            <th>Description</th>
            <th>Createion Date</th>
            <th>Details</th>
            <th>Tools</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>
                    <img src="~/Images/@item.ListImage" class="rounded-circle" width="40" height="40" asp-append-version="true" />
                </td>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.CreationDate</td>
                <td><a asp-controller="TodoList" asp-action="Details" asp-route-id="@item.Id">Details</a></td>
                <td>
                    <a asp-controller="TodoList" asp-action="Update" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="TodoList" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }

    </table>
}   